@charset "UTF-8";

body {
	background-color: #111;
	color: #777;
	padding: 28px;
}


table { border-collapse: collapse; }


td, th { 
	padding: 10px;
	border: 1px solid #fff;
}


a:not(.btn), a:visited:not(.btn), a:hover:not(.btn) {
	color: #787;
	text-decoration: none;
}


.my-tr-gold { background-color: #c17d11; }
.my-tr-red { background-color: #933; }

.my-tr-gold, .my-tr-red { color: #111; }
.my-tr-gold a:not(.btn), .my-tr-red a:not(.btn) { color: #fff; }

.my-padding-top-19 { padding-top: 19px; }
.my-padding-bottom-19 { padding-bottom: 19px; }

.my-padding-top-28 { padding-top: 28px; }
.my-padding-bottom-28 { padding-bottom: 28px; }

.my-padding-top-40 { padding-top: 40px; }
.my-padding-bottom-40 { padding-bottom: 40px; }

.my-margin-top-19 { margin-top: 19px; }
.my-margin-bottom-19 { margin-bottom: 19px; }

.my-margin-top-28 { margin-top: 28px; }
.my-margin-bottom-28 { margin-bottom: 28px; }

.my-margin-top-40 { margin-top: 40px; }
.my-margin-bottom-40 { margin-bottom: 40px; }

.my-border-top { border-top: 1px solid #777}
.my-border-bottom { border-bottom: 2px solid #777}
